body {
    background: url("./img/madrid.jpg") center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre los bloques */
}

#spain_info {
    display: flex;
    justify-content: space-between;
}

.spain_summary {
    width: 100%;
}

.spain_details {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.spain_details section {
    text-align: center;
    margin-bottom: 20px;
}

.spain_details img {
    width: 100%;
    height: auto;
    max-width: 220px;
    max-height: 150px;
    margin: auto;
}

.wrap {
    color: #fff;
    padding: 3rem 2.6rem;
    border: 1px solid #222;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 80%;
    justify-content: space-between;
    align-items: flex-start;
}

.city_image {
    display: block;
    width: 80%;
    height: auto;
    max-height: 650px;
    margin: 0 auto;
}